@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Tilt Prism', cursive; */
    box-sizing: border-box;
}

body {
    background: linear-gradient(270deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 60%;
    height: 550px;
    display: flex;
    border-radius: 35px;
    overflow: auto;
}
::-webkit-scrollbar {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #7b7878; 
    width: 0px;
  }

.head {
    /* text-align: center; */
    margin: 50px auto 25px 25px;
}

.info-container {
    width: 100%;
}

.info-head {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px;
    /* background: #000; */
    /* text-align: center; */
}

.info-head h3{
    font-size: 1.1rem;
    color:#7b7878;
}
.info-head.active h3{
    font-size: 1.2rem;
    color:#161616;
}

.info-head h3:hover{
    color: orangered;
}

.info-head svg {
    margin: 8px 20px;
}

.line {
    height: 1px;
    background: #676666;
    width: 85%;
    margin: 0 auto;
}

.girl-img {
    margin: 70px 15px 0 -80px;
}

.img {
    position: relative;
    top: 4%;
    left: 6.5%;
}

.btn {
    /* transform: rotate(180deg); */
    cursor: pointer;
    columns: orangered;
}
.btn:hover {
    transform: scale(1.2);
}

.btn.active {
    transform: rotate(180deg);
}

.text {
    display: none;
    margin: 20px 25px;
}

